@font-face {
    font-family:'Exo';
    src: local('Exo Bold'), local('Exo-Bold'),
        url('fonts/Exo-Bold.woff2') format('woff2'),
        url('fonts/Exo-Bold.woff') format('woff'),
        url('fonts/Exo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'Exo';
    src: local('Exo Light'), local('Exo-Light'),
        url('Exo-Light.woff2') format('woff2'),
        url('Exo-Light.woff') format('woff'),
        url('Exo-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Exo';
    src: local('Exo Extra Light'), local('Exo-Extra-Light'),
        url('fonts/Exo-ExtraLight.woff2') format('woff2'),
        url('fonts/Exo-ExtraLight.woff') format('woff'),
        url('fonts/Exo-ExtraLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
/*
      Note:
      All the font-face declarations here all apply to the same font, but different weights.
      There are 4 verbose weights you can use: "normal", "bold", "lighter" and "bolder".
      I've done this to allow you to apply the "Exo" font to all elements (as you seemed to be doing)
      and set the weight independantly.
*/
div{outline: 1px solid red;}
div.columns {
    margin: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
@media(orientation: landscape){
    div.mobileMaster{
        display: none;
    }
    div.section{
        margin-left: auto;
        margin-right: auto;
    }
    div.columns{
        height: 60%;
        flex-direction: row;
    }
    div.columns > div{
        width:calc(25% - 30px); /* this px value should be twice what the padding is on the line below */
    /* margin: 0 10px; /* switch this padding to margin to get a gap between the columns

    Or even mix and match to make up the 20px, for example:

      padding: 5px; <- internal padding all around the edge of the column
      margin: 0 5px; <- spacing of 5px either side of the column (adds up to 10px total)

    */
    height: calc(100% - 20px);
    }
}
@media(orientation: portrait){
    body{
        background-color: rgb(207, 224, 224);
    }
    div.mobileMaster{
        display:initial;
    }
    div.section{
        margin-left: 16px;
        margin-right: 16px;
    }
    div.columns{
        height: 300%;
        flex-direction: column;
    }
    div.columns > div {
        width: 100%;
        height: calc(25% - 30px);
    }
}
body{
    font-family: "Exo";
    font-weight: lighter;
    margin: 0;
}
div.section{
    margin-top: 20px;
    max-width: 1000px;
    text-align: center;
}
h1{
    font-weight: bold;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: normal;
}
h4{
    font-weight: normal;
}
div.columns > div {
    background-color: rgb(232, 255, 255);
    text-align: center;
    display: grid;
    place-items: center;
    overflow: hidden;
    /* padding: 10px; */
}
div.columns > div > div.text{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: inherit;
    place-items: inherit;
    margin: auto;
    padding: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}
div.columns > div > div.media{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: auto;
    padding: 0px;
    overflow: hidden;
}
div.columns > div img {
    width: 100%;
}
div.columns > div video {
    width: 100%;
}