@font-face {
    font-family:'Exo';
    src: local('Exo Bold'), local('Exo-Bold'),
        url('fonts/Exo-Bold.woff2') format('woff2'),
        url('fonts/Exo-Bold.woff') format('woff'),
        url('fonts/Exo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'Exo';
    src: local('Exo Light'), local('Exo-Light'),
        url('Exo-Light.woff2') format('woff2'),
        url('Exo-Light.woff') format('woff'),
        url('Exo-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Exo';
    src: local('Exo Extra Light'), local('Exo-Extra-Light'),
        url('fonts/Exo-ExtraLight.woff2') format('woff2'),
        url('fonts/Exo-ExtraLight.woff') format('woff'),
        url('fonts/Exo-ExtraLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
/*
      Note:
      All the font-face declarations here all apply to the same font, but different weights.
      There are 4 verbose weights you can use: "normal", "bold", "lighter" and "bolder".
      I've done this to allow you to apply the "Exo" font to all elements (as you seemed to be doing)
      and set the weight independantly.
*/
html{
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    scroll-behavior: smooth;
}
body{
    font-family: "Exo";
    font-weight: lighter;
    margin: 0;
}
/* div{outline: 1px solid red;} */
div.columns {
    margin: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
div.text::-webkit-scrollbar{
    display: none;
}
@media (781px <= width <= 1030px){
    div.section{
        width: calc(100% - 10px);
        margin: 0 5px;
    }
}
@media(Min-width: 781px){
    div.mobileMaster{
        display: none;
    }
    div.section{
        margin-left: auto;
        margin-right: auto;
    }
    div.columns{
        height: 60%;
        flex-direction: row;
    }
    div.columns > div{
        width:calc(25% - 30px);
        height: calc(100% - 20px);
    }
    div.foot{
        display: grid;
        grid-template-columns: 20% 20% 20%;
        justify-content: space-between;
    }
}
@media(max-width: 780px){
    div.mobileMaster{
        display:initial;
    }
    div.section{
        margin-left: 16px;
        margin-right: 16px;
        width: auto;
    }
    div.columns{
        height: 300%;
        flex-direction: column;
    }
    div.columns > div {
        width: 100%;
        height: calc(25% - 30px);
    }
    div.foot{
        display: grid;
        justify-content: center;
    }
}
div.section{
    margin-top: 20px;
    max-width: 1000px;
    text-align: center;
}
h1{
    font-weight: bold;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: normal;
}
h4{
    font-weight: normal;
}
div.columns > div {
    z-index: -1;
    background-color: whitesmoke;
    text-align: center;
    display: grid;
    place-items: center;
    overflow: hidden;
    /* padding: 10px; */
}
div.columns > div > div.text{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: inherit;
    place-items: inherit;
    margin: auto;
    padding: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
div.columns > div > div.media{
    width: calc(100% - 10px);
    /*height: calc(100% - 10px);*/
    margin: auto;
    padding: 0px;
    overflow: hidden;
}
div.columns > div img {
    width: 100%;
}
div.columns > div video {
    width: 100%;
}
div.navbar{
    z-index: 100;
    overflow: hidden;
    padding: 0px 20px;
    background-color: rgb(128, 128, 128);
    color: whitesmoke;
    font-weight: bold;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.head{
    text-align: center;
    display: grid;
    place-items: center;
    padding: 0 10px;
    overflow: hidden;
    background-color: rgb(46, 46, 46);
    color: whitesmoke;
}
div.head > a{
    font-size: 20px;
    font-weight: bold;
}
div.foot{
    text-align: center;
    background-color: rgb(46, 46, 46);
    padding: 0 5%;
    border-top: 2px rgb(128, 128, 128) solid;
}
a.button{
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(230, 230, 230);
    text-align: center;
    font-family: "Exo";
    font-weight: light;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
}
a.button:hover{
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 5px 10px;
}
a.button:active{
    background-color: rgb(112, 112, 112);
    color: rgb(230, 230, 230);
    font-size: 16px;
    padding: 5px 10px;
}
div.head > a{
    text-decoration: none;
    color: inherit;
    margin: 5px;
}
div.head > a:hover{
    text-decoration: underline;
}
