* {
    box-sizing: border-box;
}

html {
    color: rgb(234, 237, 222);
}

section {
    margin-top: 10px;
}

input {
    max-width: 100%;
}

header, footer {
    width: 100%;
    padding-bottom: 5px;
    height: 30px;
    align-items: center;
    display: flex;
}

header {
    border-bottom: 2px rgb(69, 69, 69) solid;
    position: fixed;
    top: 0;
    left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px rgb(69, 69, 69) solid;
    padding-top: 5px;
}

main {
    margin-top: 35px;
}

h1{
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}

#reset {
    margin-left: auto;
    margin-right: auto;
}